/* color palette from <https://github.com/vuejs/theme> */

:root {
  /* Cores Foco pro4tech */
  --roxo-pro4tech: #693681;
  --azul1-pro4tech: #554d96;
  --azul2-pro4tech: #3a6aaa;
  --azul3-pro4tech: #2281af;
  --azul4-pro4tech: #019cbb;
  --verde1-pro4tech: #00b7a3;
  --laranja1-pro4tech: #9d4413;
  --laranja2-pro4tech: #b04d17;
  --laranja3-pro4tech: #be602f;
}

:root {
  /* Cores fundo pro4tech */
  --branco1-pro4tech: #ffffff;
  --branco2-pro4tech: #edeff0;
}

:root {
  /* Cores Sombra pro4tech */
  --sombra_braca-pro4tech: #f4f4f4;
  --sombra_cinza-pro4tech: #c5c5c5;
  --sombra-cinza2-pro4tech: #c2c2c2;
  --sombra_laranja1-pro4tech: #be602f;
  --sombre_laranja2-pro4tech: #c29c80;
  --preto-fora-de-foco: #7f7f7f;
}

:root {
  --raio_border-default: 8px;
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  /* --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute); */

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute); */

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-mute);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
