@import './base.css';

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: row;
  font-weight: normal;

  header {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  main {
    flex: 1;
    overflow: auto;
  }
}

a {
  color: var(--branco1-pro4tech);
  text-decoration: none;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--hover);
    border-radius: calc(var(--raio_border-default) / 2);
    padding: 5%;
  }
}

@media (max-width: 680px) {
  #app {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    height: auto;

    header {
      width: 100%;
      height: auto;
    }

    main {
      flex: unset;
      height: auto;
    }
  }
}
